<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro">
    <!-- Hardware interface for ros2 control manager (Like SimIO class)-->
    <ros2_control name = "ArmSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        
        <joint name="base_joint">
            <command_interface name="position">
                <param name="min">-3.14</param>
                <param name="max">3.14</param>
            </command_interface>
            <state_interface name="position"></state_interface>
            <state_interface name="velocity"></state_interface>
            <state_interface name="effort"></state_interface>
        </joint>

        <joint name="first_arm_joint">
            <command_interface name="position">
                <param name="min">-0.7</param>
                <param name="max">0.7</param>
            </command_interface>   
            <state_interface name="position"></state_interface>
            <state_interface name="velocity"></state_interface>
            <state_interface name="effort"></state_interface>
        </joint>
        <joint name="second_arm_joint">
            <command_interface name="position">
                <param name="min">-0.7</param>
                <param name="max">0.7</param>
            </command_interface>
            <state_interface name="position"></state_interface>
            <state_interface name="velocity"></state_interface>
            <state_interface name="effort"></state_interface>
        </joint>
    </ros2_control>

    <!-- Plugin for gazebo to know how the robot is actually controlled. Sets up it's own control_manager to handle positioning-->
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <!-- Path to ros params file for ros2_controllers-->
        <parameters>/home/rushhaank/arm_sim/install/armsim/share/armsim/config/my_controllers.yaml</parameters>
      </plugin>
    </gazebo>
</robot>